DJANGO_SECRET_KEY=change-this
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost
DELIVERY_RADIUS_KM=4
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
CLIENT_WHATSAPP=8129935964
